{% extends "main/header.html" %}

{% block content %}
<h2> Create a new note </h2>
<br>
	{% if err_msgs %}
		<div style = "color: red;">
		{% for ele,err in err_msgs %}
			<p>{{err}}</p>
		{% endfor %}
		</div>
	{% endif %}
	<form method = 'POST' class="col s12" enctype="multipart/form-data">

		{% csrf_token %}

		{{new_form.as_p}}

		<input type = "file" name = 'document'>
		{% if illegal_extension %}
		<p style = "color: red;">Only 'png','jpg','jpeg','pdf','odf','docx','doc','ppt','txt' files less than 5Mb are supported</p>
		{% endif %}

		<p><button type = "submit" class = "waves-effect waves-light btn" style = "background-color: teal">Publish</button></p>
	</form>
{% endblock %}