<html>
	{% extends 'main/header.html'%}
	<body>

	{% block content %}
		<h2>Notes for {{chapter}}</h2>
		<br>
		{% if notes %}
		<h4>Showing {{notes.items|length}} note(s)</h4>
		{% else %}
		<h4>Showing 0 note(s)</h4>
		{% endif %}
		<div class="row">
			{% for note,likes in notes.items %}
			<a href = "{{note.id}}">
			<div class="col s12 m6">
				<div class="card blue darken-1">
					<div class="card-content white-text">
						<span class="card-title" style = "overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">{{note.note_title}}</span>
						<p id = "note_summary" style = "overflow: hidden;
  														display: -webkit-box;
  														-webkit-line-clamp: 2;
  														-webkit-box-orient: vertical;">
 						{{note.note_summary}}
 					</p>
					</div>
					<div class="card-content white-text" stye = "color: white;">
						<a style = "color: white;" href="/users/{{note.note_author}}">
							by {{note.note_author}}
						</a>
						<br><br>
							<p>Published on {{note.note_whenPublished}}
								<div style = "float: right; color: white;"><i class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="Remove from favourites" >favorite</i><font color="white">{{likes}}</font></div></p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
  {% endblock %}
	</body>
</html>

