<html>
	{% extends 'main/header.html'%}
	<body>

	{% block content %}

	{% if query_user == request.user %}
	<h2>Profile of {{query_user}} (You) <a href = "/users/{{query_user}}/settings"><i class="medium material-icons tooltipped" data-position="bottom" data-tooltip="User settings" style="color:teal">edit</i></a></h2>

	{% else %}
	<h2>Profile of {{query_user}}</h2>
	{% endif %}
	<br>
		<p class="flow-text"><b>Name: </b>{{query_user.first_name}} {{query_user.last_name}}</p>
		<p class="flow-text"><b>Email: </b>{{query_user.email}}</p>
		<br>
		<p class="flow-text"><b>Notes Contributed: </b>{{total_notes}}</p>

		<div class="row">
			{% for note,likes in notes.items %}
				<a href  = "/{{note.note_chapter.chapter_course.course_code}}/{{note.note_chapter.chapter_name}}/{{note.id}}">
					<div class="col s12 m6">
					  <div class="card blue darken-1">
						<div class="card-content white-text">
						  <span class="card-title">{{note.note_title}}</span>
						  <p> {{note.note_chapter.chapter_course}} : {{note.note_chapter.chapter_name}}</p>
						</div>
						<div class="card-content white-text" stye = "color: white;">
							<p>Published on {{note.note_whenPublished}}
							<div style = "float: right; color: white;"><i class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="Remove from favourites" >favorite</i><font color="white">{{likes}}</font></div></p>
						</div>
					  </div>
					</div>
		  		</a>
		  	{% endfor %}
		</div>

  {% endblock %}
	</body>
</html>